
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Producto</title>
    
</head>
<body>
    <h1>Detalle del Producto</h1>
    <h2><%= product.name %></h2>
    <p>Precio: $<%= product.price %></p>
    <p>Descripción: <%= product.description %></p>
    <a href="/comprar/<%= product._id %>">Comprar</a>
</body>
</html>
