<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Lista de Productos</title>
</head>
<body>
  <h1>Lista de Productos</h1>
  <ul>
    {{#each products}}
    <li>{{this.title}} - {{this.description}}</li>
    {{/each}}
  </ul>
</body>
</html>
