
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>

</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        <% products.forEach(product => { %>
            <li>
                <h2><%= product.name %></h2>
                <p>Precio: $<%= product.price %></p>
                <a href="/comprar/<%= product._id %>">Comprar</a>
            </li>
        <% }); %>
    </ul>
</body>
</html>
