<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  {{#if message}}
    <p>{{message}}</p>
  {{/if}}
  <form method="POST" action="/login">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div>
      <button type="submit">Login</button>
    </div>
  </form>
  <hr>
  <a href="/auth/github">Login with GitHub</a>
</body>
</html>
