<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Real Time Products</title>
  </head>
  <body>
    <h1>Real Time Products</h1>
    <ul>
      {{#each products}}
      <li>
        <p>{{this.title}}</p>
        <p>{{this.description}}</p>
       
